.root{
    padding: 100px;
    text-align: center;
    span{
        font-size: 64px;
        max-width: 750px;
        margin: 0 auto;
    }
}
.description{
    text-align: center;
    font-size: 22px;
}